header {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  padding: 90px 24px 60px;
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, max-content);
  justify-content: space-between;
  align-items: end;
}

header * {
  text-decoration: none;
}

nav {
  display: grid;
  margin-bottom: 4px;
  grid-gap: 24px;
  justify-content: end;
  grid-template-columns: minmax(0, 1fr);
}

nav .sub-nav {
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 12px;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  a {
    color: var(--blue);
  }
}

.search-button {
  padding: 10px 16px 10px 10px;
  background: var(--accent);
  color: #fff !important;
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
  align-items: center;
  grid-gap: 8px;
}

nav .main-nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 32px;
  font-size: 18px;
  font-weight: 600;

  a {
    color: var(--text-color);
  }
}

#logo h1 {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -999px;
  overflow: hidden;
  z-index: -999;
}

.logo {
  width: 200px;

  svg {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    width: 150px;
  }
}

.mobile.menu {
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 96px 48px 48px;
  right: 0;
  box-shadow: none;
  transform: translateX(101%);
  width: 360px;

  &.open {
    box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.2), 0 0 300px 500px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
  }

  .main-nav {
    grid-gap: 24px;
    font-size: 18px;
    font-weight: 600;
    display: grid;

    a {
      color: var(--text-color);
    }
  }

  .sub-nav {
    display: grid;
    grid-gap: 24px;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 24px;

    a {
      color: var(--blue);
    }
  }
}

.menu-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, max-content));
  align-items: center;
  grid-gap: 12px;
}

.menu-button,
.close {
  display: block;
  width: 24px;
  height: 24px;
  appearance: none;
  border: 0;
  background: transparent;

  &:hover,
  &:focus {
    background: #ccc;
  }
}

.close {
  position: absolute;
  top: 48px;
  right: 48px;
}

.mobile,
.mobile-grid {
  display: none;
}

@media screen and (max-width: 1024px) {
  nav {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile-grid {
    display: grid;
  }
}
