.single {
  h1 {
    font-size: 48px;
    font-weight: 800;
  }

  .header-block {
    max-width: 960px;
    padding: 0 24px;
    margin: 0 auto;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    max-width: 640px;
    margin: 24px 0 0;
  }

  .image {
    width: 100%;
    max-width: 100%;
    display: block;
    height: 450px;
    overflow: hidden;
    margin: 24px 0;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
      object-position: right;
      height: 100%;
    }
  }

  .body {
    padding: 0 0 48px;
  }

  .body p:not(.image),
  .body ul,
  .body ol,
  .body h3 {
    max-width: 960px;
    padding: 0 24px;
    margin: 12px auto;
  }

  h2 {
    text-align: center;
    width: 100%;
    margin: 24px auto;
  }

  h3 {
    margin-top: 32px !important;
  }
}

.cta a,
a.cta {
  display: block;
  color: #fff;
  background: var(--blue);
  padding: 12px 24px;
  border-radius: 2px;
  text-align: center;
  width: max-content;
  text-decoration: none;
}

p.cta {
  display: block;
  margin: 24px auto !important;
}

p.cta.center {
  width: max-content;
}
