<footer>
  <div class="main-row">
    <div>
      {{ partial "logo.html" . }}
      <p>
        Producing and equipping well-trained, highly-qualified ministers to expand the Kingdom of
        God.
      </p>
    </div>
    <div class="sub-row">
      <div>
        <h3>Helpful Links</h3>
        <ul>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/policies/non-discrimination">Non-Discrimination</a></li>
          <li><a href="/policies">Policies</a></li>
        </ul>
      </div>
      <div>
        <h3>Future Students</h3>
        <ul>
          <li><a href="/visit">Schedule a Visit</a></li>
          <li><a href="/directions">Directions</a></li>
          <li><a href="/info">Request Info</a></li>
          <li><a href="/apply">Apply</a></li>
        </ul>
      </div>
      <div>
        <h3>Current Students</h3>
        <ul>
          <li><a href="/calendars">Calendars</a></li>
          <li><a href="https://canvas.instructure.com/">Learning Portal</a></li>
          <li><a href="/catalog">Catalog</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="sub-footer">
  <p>
    &copy; <span id="year"></span> Omaha School of Ministry. All rights reserved. 501(c)3 87-2875388
  </p>
  <div class="footer-row">
    <a href="/policies/privacy">Privacy Policy</a>
    <a href="/policies/terms">Terms of Use</a>
  </div>
</div>
<script>
  (() => {})();
</script>
