<header>
  <a href="/" id="logo">
    <div class="logo">
      {{ partial "logo.html" . }}
    </div>
    <h1><span class="omaha">Omaha</span> <span class="som">School of Ministry</span></h1>
  </a>
  <nav>
    <div class="sub-nav">
      <a href="/calendars">Calendars</a>
      <a href="/give">Give</a>
      <a href="/parents">Parents</a>
      <a href="/search" class="search-button"
        ><span class="material-symbols-outlined"> search </span> Search</a
      >
    </div>
    <div class="main-nav">
      <a href="/about">About</a>
      <a href="/academics">Academics</a>
      <a href="/apply">Admissions</a>
      <a href="/flatland">Flatland Church</a>
      <a href="/current-students">Current Students</a>
    </div>
  </nav>
  <div class="mobile-grid menu-row">
    <a href="/search" class="search-button"
      ><span class="material-symbols-outlined"> search </span> Search</a
    >
    <button class="menu-button">
      <span class="material-symbols-outlined">menu</span>
    </button>
  </div>
  <div class="mobile menu">
    <button class="close"><span class="material-symbols-outlined">close</span></button>
    <div class="main-nav">
      <a href="/about">About</a>
      <a href="/academics">Academics</a>
      <a href="/apply">Admissions</a>
      <a href="/flatland">Flatland Church</a>
      <a href="/current-students">Current Students</a>
    </div>
    <div class="sub-nav">
      <a href="/calendars">Calendars</a>
      <a href="/give">Give</a>
      <a href="/parents">Parents</a>
    </div>
  </div>
</header>
<script>
  (() => {
    document.querySelector('.menu-button').addEventListener('click', () => {
      const menu = document.querySelector('.menu');
      if (menu.classList.contains('open')) {
        menu.classList.remove('open');
      } else {
        menu.classList.add('open');
      }
    });

    document.querySelector('.close').addEventListener('click', () => {
      document.querySelector('.menu').classList.remove('open');
    });
  })();
</script>
