{{ define "title" }} Omaha School of Ministry {{ end }} {{ define "main" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CollegeOrUniversity",
    "url": "https://omasom.com",
    "name": "{{ $.Site.Title }}",
    "alternateName": "OSM",
    "logo": "https://omasom.com/logo.png",
    "description": "{{ .Params.TheologyStatement }}",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-402-492-9111",
      "contactType": "Admissions"
    },
    "sameAs": ["https://www.instagram.com/omahaschoolofministry/"]
  }
</script>
<div class="narrow tagline">
  <div class="tagline-box">
    <h2>{{ .Params.Tagline | safeHTML }}</h2>
    <p>{{ .Params.TheologyStatement }}</p>
  </div>
  <img
    src="{{ .Params.Image }}"
    alt="Omaha School of Ministry's campus shared with Flatland Church"
  />
</div>
<section class="full-width apply-banner">
  <a href="/apply">Apply for {{ .Params.NextAcademicPeriod }}</a>
</section>
<section class="narrow campus-life">
  <h2>Life at Omaha School of Ministry</h2>
  <p>{{ .Params.CampusLife }}</p>
  <div class="grid">
    <a href="/omaha" class="box">
      <img
        src="https://images.unsplash.com/photo-1519766030446-ae88fde27309?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&q=80"
        alt="Henry Doorly zoo in Omaha"
      />
      <h3>Living in Omaha</h3>
    </a>
    <a href="/spiritual-life" class="box">
      <img src="/53070680636_37ecff4909_w.jpg" alt="Prayer service" />
      <h3>Spiritual Life</h3>
    </a>
    <a href="/student-experience" class="box">
      <img src="/52437241567_2f6aa8fb54_w.jpg" alt="Students walking on campus" />
      <h3>Student Experience</h3></a
    >
  </div>
</section>
<section class="full-width testimony">
  <div class="content">
    <div class="quote">
      <p>&ldquo;{{ .Params.Testimony.Content }}&rdquo;</p>
      <span
        >{{ .Params.Testimony.Name }}, {{ .Params.Testimony.Year }} {{ .Params.Testimony.Track
        }}</span
      >
    </div>
    <div class="video">
      <iframe
        src="https://player.vimeo.com/video/{{ .Params.Testimony.Src }}?h=d0d8186058&title=0&byline=0&portrait=0"
        width="640"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
<section class="narrow campus-life">
  <h2>Producing Highly-Qualified Ministers</h2>
  <p>{{ .Params.Academics }}</p>
  <div class="grid">
    <a href="/academics" class="box">
      <img src="/53078115253_3b4676c9c3_w.jpg" alt="Students in a classroom" />
      <h3>Academics</h3>
    </a>
    <a href="/ordination" class="box">
      <img src="/52919264017_7a70b5ea1a_w.jpg" alt="Ordination service" />
      <h3>Credentialing &amp; Ordination Track</h3>
    </a>
    <a href="/flatland" class="box">
      <img
        src="https://live.staticflickr.com/65535/52404165552_33a1ccb41a_3k.jpg"
        alt="Students walking on campus"
      />
      <h3>Hands-On Ministry Experience</h3></a
    >
  </div>
</section>
<section class="full-width next-step">
  <h2>Next Steps</h2>
  <p>
    Ready to take the next step in your ministry journey? We're here to help you explore all that
    Omaha School of Ministry has to offer. Whether you want to visit our campus, apply for
    admission, or simply request more information, we're here to support you every step of the way.
  </p>
  <div class="row">
    <a href="/apply">Apply</a>
    <a href="/visit">Schedule a Visit</a>
    <a href="/info">Request Info</a>
  </div>
</section>
<section class="narrow news">
  <h2>News</h2>
</section>
{{ end }}
